input[type="number"] {
	width: 40px;
	text-align: right;
}

input[type="text"]:disabled {
	background: #dddddd;
}

div[id=sac], div[id=histo-pioche], div[id=hombres] {
	border: 1px solid;
	font-weight: bolder;
}

span[id=cartes] {
	font-weight: bolder;
}

span[id=emmet] {
	font-weight: bolder;
/* 	color: DarkOrange !important; */ 
}


body {background-color: #b4764f;}

ul {
	
	
}

/* Firefox utilise un préfixe */
input[type="text"]:-moz-read-only {
  background-color: #ccc;
}

/* Blink/WebKit/Edge n'ont pas de préfixe */
input[type="text"]:read-only {
  background-color: #ccc;
}