@font-face {
	font-family: "Carnevalee Freakshow";
	src: url('static/Carnevalee-Freakshow.ttf');
}

/** 	background-color: #155806;
	background: radial-gradient(#2e9119,#155806);
	*/

body {
	background: radial-gradient(#186F05,#0E4502);
    font-family: "Carnevalee Freakshow";
    margin: 20px;
    border: 1px solid gold;
    border-radius: 12px;
    padding: 10px;
	font-size: 20px;
}

input {
	font-family:"Carnevalee Freakshow";
	font-size:18px;
}

input[type="number"] {
	width: 40px;
	text-align: right;
	border-radius: 12px;
    border: 0;
}

input[type="text"]:disabled {
	background: #dddddd;
}

/* Firefox utilise un préfixe */
input[type="text"]:-moz-read-only {
	background-color: #ccc;
}

/* Blink/WebKit/Edge n'ont pas de préfixe */
input[type="text"]:read-only {
	background-color: #ccc;
}

input[type="text"] {
	border-radius: 12px;
    border: 0;
	padding-left: 5px;
}

input[type="button"] {
	border-radius: 0 12px;
}

select {
	height: 22px;
	border-radius: 12px;
	font-size:18px;
	border: 0;
	font-family: "Carnevalee Freakshow";
}

div[id=sac], div[id=histo-pioche], .hombre, div[id=pioche], #emmet, #mono, #multi, #start, #stop, #init {
	border-left: 1px solid gold;
	border-radius: 0 12px;
}

#mono, #multi, #start, #stop, #init {
	padding: 5px;
}

#action div {
	float : left;
	margin-right : 10px;
}

#action input {
	margin-top: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(24,111,5,0.5); /* Black w/ opacity */
  text-align: center;
  font-size : 100px;
  padding-top : 50px;
  text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}

#deadhand div {
	color: #B00000;
}

#deadhand img {
	position: absolute;
	margin-top:50px;
}

.atout div {
	color : gold;
	margin-left: 50px;
	float: left;
    padding-top: 100px;
}

.atout img {
	float : left;
	margin-left: 30%;
}

.separe {
	display: inline-block;
	width: 100%;
	border-top: 1px solid gold;
	margin-top: 10px;
}

span[id=cartes] {
	font-weight: bolder;
}

span[id=emmet] {
	font-weight: bolder;
/* 	color: DarkOrange !important; */ 
}

h2 {
	margin-top: 0;
	border-bottom: 1px solid gold;
	padding-bottom : 5px;
	text-align: center;
}

h3 {
	margin-bottom : 0px;
}

h4 {
	margin : 0;
}

a {
	font-size : 12px;
	color : darkgray;
	cursor : pointer;
	text-decoration : underline;
}

img.jeton {
	width: 60px;
	margin : 1px;
}

img.carte {
	width: 88px;
	margin : 1px;
}

#sac {
	height: 62px;
	padding : 5px;
}

#pioche {
	width: 485px;
}

#pioche, #emmet {
	height: 126px;
	padding : 5px;
	border-radius: 0 12px;
}

#cartes, #joueur {
	float: left;
}

#jetons, #historique {
	float: right;
	margin-left: 5px;
}

#partie, #tirage {
	display: table;
}

#histo-pioche {
	display: inline-block;
    width: 760px;
	height: 1100px;
	padding-left: 5px;
}

#pregame li {
	margin: 0 0 1px 0;
}

#init_hombre div {
	float:left;
	margin-right: 10px;
    text-align: center;
}

.hombre {
	height: 110px;
    padding: 0 5px 5px 5px;
    width: 485px;
    margin-bottom: 5px;
	color: gold;
}	

.joker {
	height: 60px;
    overflow: hidden;
}

.name {
	text-align: center;
	padding-right: 5px;
}

.name.button {
	float: left;
}

.tirage {
	text-align: center;
	float:left;
	border-bottom: 1px solid gold;
	margin-right: 5px;
	border-radius: 12px;
	color: gold;
}

.jetons {
	height: 72px;
	padding-top : 25px;
    overflow: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E4502;
  border-radius: 10px;
}